<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <!--<label>-->
            <!--男：-->
            <!--<input v-model="sex" value="nan" type="checkbox">-->
        <!--</label>-->
        <!--<label>-->
            <!--女：-->
            <!--<input v-model="sex" value="nv" type="checkbox">-->
        <!--</label>-->
        <!--<br>-->
        <!--{{sex}}-->
        <!--<textarea v-model="text"></textarea>-->
        <!--<select v-model="select" multiple>-->
            <!--<option value="1">wanght</option>-->
            <!--<option value="2">njfudh</option>-->
        <!--</select>-->
        <table border="1">
            <thead>
                <th>学科</th>
                <th>分数</th>
            </thead>
            <tbody>
                <tr>
                    <td>shuxu</td>
                    <td><input type="text" v-model.number="math"></td>
                </tr>
                <tr>
                    <td>yingu</td>
                    <td><input type="text" v-model.number="english"></td>
                </tr>
                <tr>
                    <td>yuwen</td>
                    <td><input type="text" v-model.number="yuwen"></td>
                </tr>
                <tr>
                    <td>总分</td>
                    <td>{{sum}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="./lib/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>